<div class="row card-deck">
    <div class="col-lg-3 col-md-5 mb-3" *ngFor="let order of this.ecommerceService.productOrders2">
        <div class="card text-center">
            <div class="card-header">
                <a class="my-0 font-weight-normal text text-truncate" [routerLink]="'/' + order.product.id">{{order.product.name}}</a>
            </div>
            <div class="card-body">
                <a href="#"><img class="card-img-top" src={{order.product.pictureUrl}} alt=""></a>
                <h5 class="card-title">${{order.product.price}}</h5>
                <div class="row">
                    <div class="col-4 padding-0" *ngIf="!isProductSelected(order.product)">
                        <input type="number" min="0" class="form-control" [(ngModel)]=order.quantity>
                    </div>
                    <div class="col-4 padding-0" *ngIf="!isProductSelected(order.product)">
                        <button class="btn bg-dark" (click)="addToCart(order)"
                                [disabled]="order.quantity <= 0">Add
                        </button>
                    </div>

                    <div class="col-12" *ngIf="isProductSelected(order.product)">
                        <button  class="btn bg-danger"
                                (click)="removeFromCart(order)" >Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

