<div class="container">
<div class="card text-white" style="max-width: 18rem;">
    <div class="card-header text-center">Shopping Cart</div>
    <div class="card-body">
        <h5 class="card-title">Total: ${{this.ecommerceService.Total}}</h5>
        <hr>
        <h6 class="card-title">Your Order:</h6>

        <ul>
            <li *ngFor="let order of this.ecommerceService.ProductOrders.productOrders">
                {{ order.product.name }} - {{ order.quantity}} pcs.
            </li>
        </ul>

        <button class="btn btn-light btn-block" (click)="finishOrder()"
               [disabled]="this.ecommerceService.ProductOrders.productOrders.length == 0">Checkout
        </button>
    </div>
</div>
</div>
